/**
 *
 * theme : mountain
 * 
 * Colors
 **/

* {
    background:     #141519FF;
    background-alt: #282B31FF;
    foreground:     #D2D1CFFF;
    selected:       #9BBFBFFF;
    active:         #98C379FF;
    urgent:         #E06C75FF;
}
