/**
 *
 * theme : forest
 * 
 * Colors
 **/

* {
    background:     #222B30FF;
    background-alt: #3C474DFF;
    foreground:     #64846CFF;
    selected:       #E84476FF;
    active:         #A7C080FF;
    urgent:         #E67E80FF;
}
