/**
 *
 * theme : crunchbang
 * 
 * Colors
 **/

* {
    background:     #3A3A3AFF;
    background-alt: #3A3A3AFF;
    foreground:     #FFFFFFFF;
    selected:       #9C9C9CFF;
    active:         #B8BB26FF;
    urgent:         #FB4934FF;
}
