/**
 *
 * theme : hack
 * 
 * Colors
 **/

* {
    background:     #01161BFF;
    background-alt: #0C252BFF;
    foreground:     #00E5E2FF;
    selected:       #00E5E2FF;
    highlight:	    #7CBF9EFF;
    on:             #7CBF9EFF;
    off:            #C2454EFF;
    urgent:         #C2454EFF;
    img-background: url("(((__distro_path_root)))/blob/polybar/hack/preview.jpg", width);
}
