* {

background:			#060112;
background-alt:		#B000FF;
foreground:			#8884AD;
selected:			#CB42EF;
highlight:			#B332E6;
urgent:				#9d059e;
on:					#870540;
off:				#9d059e;
img-background: url("(((distro_path_root)))/blob/polybar/Neon_punk/preview.jpg", width);

}
