/**
 *
 * theme : candle
 * 
 * Colors
 **/

* {
    theme: "openbox-menu";
    background:     #FFFFFFFF;
    background-alt: #FFFFFFFF;
    foreground:     #273238FF;
    selected:       #999999FF;
    active:         #98C379FF;
    urgent:         #E06B74FF;
}
