/**
 *
 * theme : carina
 * 
 * Colors
 **/

* {
    background:     #FBF4ECFF;
    background-alt: #FBF4ECFF;
    foreground:     #B0AAB0FF;
    selected:       #907AA9FF;
    active:         #B8BB26FF;
    urgent:         #FB4934FF;
}
