/**
 *
 * theme : blocks
 * 
 * Colors
 **/

* {
    background:     #30343FFF;
    background-alt: #383C4AFF;
    foreground:     #C7C7C7FF;
    selected:       #74A5CEFF;
    active:         #5ECA65FF;
    urgent:         #E87477FF;
}
