[Desktop Entry]
Type=Application
Exec=/usr/share/my_stuff/bin/apps/welcome
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Welcome
Name=Welcome
Comment[en_US]=Run Welcome at startup
Comment=Run Welcome to monitor telegram at startup
