/**
 *
 * theme : material
 * 
 * Colors
 **/

* {
    background:     #1F1F1FFF;
    background-alt: #929095FF;
    foreground:     #FFFBFFFF;
    selected:       #FFB200FF;
    active:         #B8BB26FF;
    urgent:         #FB4934FF;
}
