[Desktop Entry]
Encoding=UTF-8
Name=YouTube
Type=Link
URL=http://youtube.com
Icon=~/.config/tint2/unleashed/.bookmarks-dot/icons/youtube.png
Exec=my-www-browser -new-tab http://youtube.com
