/**
 *
 * theme : bouquet
 * 
 * Colors
 **/

* {
    background:     #191D28FF;
    background-alt: #282B31FF;
    foreground:     #F9CE66FF;
    selected:       #FFFFFFFF;
    active:         #98C379FF;
    urgent:         #E06C75FF;
}
