[Desktop Entry]
Name=Activity
Comment=System activity from btop
Exec=popup_terminal btop
Terminal=false
Type=Application
Icon=htop
Categories=GTK;
StartupNotify=false
