[Desktop Entry]
Encoding=UTF-8
Name=DeviantArt
Type=Link
URL=http://deviantart.com
Icon=(((__distro_path_all_distro_themes)))/icons/dots/lime-dot.png
Exec=my-www-browser -new-tab http://deviantart.com
