[Desktop Entry]
Encoding=UTF-8
Name=Facebook
Type=Link
URL=http://facebook.com
Icon=(((__distro_path_all_distro_themes)))/icons/dots/lavander-dot.png
Exec=my-www-browser -new-tab http://facebook.com
