[Desktop Entry]
Encoding=UTF-8
Name=GitHub
Type=Link
URL=http://github.com
Icon=(((__distro_path_all_distro_themes)))/icons/dots/yellow-dot.png
Exec=my-www-browser -new-tab http://github.com
