[Desktop Entry]
Version=1.0
Name=Hibernate
Type=Application
Comment=Hibernate system
Exec=popup_terminal my_session_manager_menu hibernate
Icon=suspend
Terminal=false
Categories=Power;
GenericName=Hibernate system
Keywords=power;hibernate
