[Desktop Entry]
Version=1.0
Name=Lock Session
Type=Application
Comment=Locl Session
Terminal=false
Exec=popup_terminal my_session_manager_menu lock
Icon=lock
Categories=Power;
GenericName=Lock Session
Keywords=exit;lock
