[Desktop Entry]
Type=Application
Name=LF
Comment=terminal file manager written in Go with a heavy inspiration from ranger file manager. 
Keywords=file manager;explorer;finder;browser;folders;directory;directories;partitions;drives;network;devices;rename;move;copy;delete;permissions;home;trash;cli;
Icon=preferences-desktop-theme
Exec=popup_terminal lf
Terminal=false
StartupNotify=false
Categories=GTK;Settings;DesktopSettings;
Path=
