[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=my-mpv
Comment=A GUI to launch local files or urls in mpv.
Exec=my-mpv
Icon=mpv
Categories=AudioVideo;Audio;Video;Player;TV;
Terminal=false
Path=
StartupNotify=false
