[Desktop Entry]
Version=1.0
Type=Application
Name=Web Browser
Comment=Invoke my-www-browser
GenericName=Web Browser
Exec=my-www-browser %u
Icon=web-browser
Terminal=false
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rss+xml;application/rdf+xml;
