[Desktop Entry]
Encoding=UTF-8
Name=Reddit
Type=Link
URL=http://reddit.com
Icon=(((__distro_path_all_distro_themes)))/icons/dots/greenblue-dot.png
Exec=my-www-browser -new-tab http://reddit.com
