[Desktop Entry]
Version=1.0
Type=Application
Name=Settings Manager
Comment=Invoke Settings Manager
GenericName=Terminal Emulator
Exec=(((__distro_path_root)))/bin/not_add_2_path/settings_manager_
Icon=utilities-terminal
Terminal=false
Categories=Utility;TerminalEmulator;
