[Desktop Entry]
Version=1.0
Type=Application
Name=Settings Manager
Comment=Invoke Settings Manager
GenericName=Terminal Emulator
Exec=settings_manager_
Icon=utilities-terminal
Terminal=false
Categories=Utility;TerminalEmulator;
