[Desktop Entry]
Version=1.0
Name=Suspend
Type=Application
Comment=Suspend system
Terminal=false
Exec=popup_terminal my_session_manager_menu suspend
Icon=suspend
Categories=Power;
GenericName=Suspend system
Keywords=power;suspend
