[Desktop Entry]
Version=1.0
Name=Suspend
Type=Application
Comment=Suspend system
Terminal=true
Exec=my_session_manager suspend
Icon=suspend
Categories=Power;
GenericName=Suspend system
Keywords=power;suspend
