[Desktop Entry]
Version=1.0
Type=Application
Name=Tint2 Manager
Keywords=tint2;settings;configurations;themes
Comment=Choose tint2 panels to run in this session.
Icon=tint2conf
Exec=style-manager --tint2manager
Categories=Settings;DesktopSettings;
StartupNotify=false
Terminal=false
