/* Color-Scheme,Theme-Scheme, and Text Font */

* {
    background:     #100f0d;
    background-alt: #100f0d;
    foreground:     #dfd9cd;
    selected:       #C8A763;
    active:         #E99551;
    urgent:         #24768B;
    icon-theme: "Zafiro";
    font:				 	"Iosevka 10";
}
