/**
 *
 * theme : grayblocks
 * 
 * Colors
 **/

* {
    background:     #272727FF;
    background-alt: #353535FF;
    foreground:     #FFFFFFFF;
    selected:       #E63935FF;
    active:         #B8BB26FF;
    urgent:         #FB4934FF;
}
