/**
 *
 * theme : beryllium
 * 
 * Colors
 **/

* {
    background:     #18191BFF;
    background-alt: #18191BFF;
    foreground:     #FFFFFFFF;
    selected:       #383D40FF;
    active:         #B8BB26FF;
    urgent:         #FB4934FF;
}
