// Rofi colors for Marisol

* {
    background: #282a36;
    bg-alt: #2f3240;
    background-alt: #282a36E0;
    foreground: #f8f8f2;
    selected: #bd93f9;
    active: #50fa7b;
    urgent: #ff6e6e;

    img-background: url("(((__distro_path_root)))/blob/polybar/marisol/rofi.jpg", width);
}
