[Desktop Entry]
Version=1.0
Type=Application
Name=Tint2 Editor
Keywords=tint2;settings;configurations;themes
Comment=Edit selected tint2 config files.
Icon=tint2conf
Exec=(((__distro_path_root)))/bin/WM/style-manager --tint2edit
Terminal=false
Categories=Settings;DesktopSettings
StartupNotify=false
