// Rofi colors for Cynthia

* {
    font: "Terminess Nerd Font Mono Bold 10";
    background: #181616;
    bg-alt: #1c1a1a;
    background-alt: #181616E0;
    foreground: #c5c9c5;
    selected: #8ba4b0;
    active: #8a9a7b;
    urgent: #c4746e;

    img-background: url("/usr/share/my_stuff/blob/polybar/cynthia/rofi.jpg", width);
}
