/**
 *
 * theme : boron-aqua
 * 
 * Colors
 **/

* {
    background:     #222222FF;
    background-alt: #222222FF;
    foreground:     #FFFFFFFF;
    selected:       #55A0B1FF;
    active:         #B8BB26FF;
    urgent:         #FB4934FF;
}
