// Rofi colors for Pamela

* {
    background: #1D1F28;
    bg-alt: #1F222B;
    background-alt: #1D1F28E0;
    foreground: #FDFDFD;
    selected: #556FFF;
    active: #18E3C8;
    urgent: #FF4971;

    img-background: url("(((distro_path_root)))/blob/polybar/pamela/rofi.jpg", width);
}
