/**
 *
 * theme : spark
 * 
 * Colors
 **/

* {
    background:     #ECFEFEFF;
    background-alt: #ECFEFEFF;
    foreground:     #A742EAFF;
    selected:       #12CE82FF;
    active:         #10A778FF;
    urgent:         #C30771FF;
}
