[Desktop Entry]
Version=1.0
Type=Application
Name=File Manager
Comment=File Manager
Exec=my-file-manager
Icon=
Path=
Terminal=false
StartupNotify=false
