[Desktop Entry]
Version=1.0
Type=Link
Name=Packaging/HackingDependencies - Debian Wiki
Comment=
Icon=user-bookmarks
URL=https://wiki.debian.org/Packaging/HackingDependencies
