/**
 *
 * theme : adaptive
 * 
 * Colors
 **/

* {
    background:     #232832FF;
    background-alt: #1C2028FF;
    foreground:     #EAEAEAFF;
    selected:       #00000000;
    active:         #039BE5FF;
    urgent:         #1C2028FF;
}

* {
  al:   #;
  bg:   #;
  bga:  #;
  fg:   #;
  ac:   #;
}
