* {

background:			#1E222A;
background-alt:		#4d5361;
foreground:			#ABB2BF;
selected:			#61AFEF;
highlight:			#56B6C2;
urgent:				#E06C75;
on:					#98C379;
off:				#E06C75;
img-background: url("(((__distro_path_root)))/blob/polybar/Chad_WM/preview.jpg", width);

}
