/**
 *
 * theme : kiss
 * 
 * Colors
 **/

* {
    background:     #101010FF;
    background-alt: #101010FF;
    foreground:     #FFFFFFFF;
    selected:       #E5CEAEFF;
    active:         #98C379FF;
    urgent:         #E06B74FF;
}
