/* Color-Scheme,Theme-Scheme, and Text Font */

* {
  al:   #00000000;
  background:   #393F3FFF;
  bga:  #282828FF;
  foreground:   #F5F5F5FF;
  ac:   #262726FF;
  selected:   #245A9AFF;
  bg_launcher:   #0000004C;
}
