[Desktop Entry]
Version=1.0
Type=Application
Name=Conky Manager
Keywords=conky;settings;configurations;themes
Comment=Choose conkys to run in this session.
Icon=(((distro_path_root)))/icons/conky-manager.svg
Exec=style-manager --conkymanager
Categories=Settings;DesktopSettings
StartupNotify=false
Terminal=false
