/* Color-Scheme,Theme-Scheme, and Text Font */

* {
  al:   #00000000;
  background:   #E5E5E5FF;
  bga:  #FFFFFFFF;
  foreground:   #000000A6;
  ac:   #80808066;
  el:   #55555526;
  selected:   #1A73E9FF;
}
