/**
 *
 * theme : tealize
 * 
 * Colors
 **/

* {
    background:     #232635FF;
    background-alt: #232635FF;
    foreground:     #8288A8FF;
    selected:       #00A9A6FF;
    active:         #7CBF9EFF;
    urgent:         #C2454EFF;
}
