/* Copyright (C) 2020-2022 Aditya Shakya <adi1090x@gmail.com> */
/* Everyone is permitted to copy and distribute copies of this file under GNU-GPL3 */

/* Color-Scheme */

* {
BG:    #000000ff;
FG:    #F5F5F5ff;
BDR:   #29A0FFff;
}
