* {

background:			#101419;
background-alt:		#BD3BFD;
foreground:			#01AD19;
selected:			#578a29;
highlight:			#539e06;
urgent:				#3c7802;
on:					#00fa5c;
off:				#3c7802;
img-background: url("/usr/share/my_stuff/blob/polybar/HTB/preview.jpg", width);

}
