[Desktop Entry]
Name=Activity
Comment=System activity from btop
Exec=my-terminal-emulator -e btop
Terminal=false
Type=Application
Icon=/usr/share/my_stuff/icons/Activity.png
Categories=GTK;
StartupNotify=false
