* {

background:			#000000;
background-alt:		#FA454C;
foreground:			#ff0000;
selected:			#D2030D;
highlight:			#E5131E;
urgent:				#6A0106;
on:					#8D0209;
off:				#6A0106;
img-background: url("(((__distro_path_root)))/blob/polybar/Black_And_Red/preview.jpg", width);

}
