/**
 *
 * theme : boron-darkred
 * 
 * Colors
 **/

* {
    background:     #222222FF;
    background-alt: #222222FF;
    foreground:     #FFFFFFFF;
    selected:       #9C413DFF;
    active:         #B8BB26FF;
    urgent:         #FB4934FF;
}
