// Rofi colors for Varinka

* {
    background: #212529;
    bg-alt: #343a40;
    background-alt: #212529E0;
    foreground: #f8f9fa;
    selected: #ced4da;
    active: #adb5bd;
    urgent: #dee2e6;

    img-background: url("(((distro_path_root)))/blob/polybar/varinka/rofi.jpg", width);
}
