/**
 *
 * theme : helium_flatish_grey
 * 
 * Colors
 **/

* {
    background:     #CECECEFF;
    background-alt: #CECECEFF;
    foreground:     #131313FF;
    selected:       #ABABABFF;
    active:         #B8BB26FF;
    urgent:         #FB4934FF;
}
