/**
 *
 * theme : docky
 * 
 * Colors
 **/

* {
    background:     #1F1F1FFF;
    background-alt: #353535FF;
    foreground:     #B3B0AEFF;
    selected:       #E63E3BFF;
    active:         #B8BB26FF;
    urgent:         #FB4934FF;
}
