/**
 *
 * theme : bl-fever_room
 * 
 * Colors
 **/

* {
    background:     #1B1108FF;
    background-alt: #1B1108FF;
    foreground:     #9E9590FF;
    selected:       #7D431EFF;
    active:         #B8BB26FF;
    urgent:         #FB4934FF;
}
