/* Color-Scheme,Theme-Scheme, and Text Font */

* {
  al:   #00000000;
  bg:   #43413DFF;
  bga:  #393939FF;
  fg:   #F5F5F5FF;
  bd:	#FFFFFF26;
    	icon-theme: "Zafiro";
    font:				 	"Iosevka 10";
}
