* {

background:			#1a1f26;
background-alt:		#6F8F9E;
foreground:			#0abdc6;
selected:			#186DA7;
highlight:			#2597DB;
urgent:				#26506F;
on:					#496773;
off:				#26506F;
img-background: url("(((distro_path_root)))/blob/polybar/ICE_Moon/preview.jpg", width);

}
