* {

background:			#101419;
background-alt:		#384148;
foreground:			#b6beca;
selected:			#70a5eb;
highlight:			#74bee9;
urgent:				#e05f65;
on:					#78dba9;
off:				#e05f65;
img-background: url("(((distro_path_root)))/blob/polybar/JS_Coffee/preview.jpg", width);

}
