[Desktop Entry]
Version=1.0
Type=Application
Name=Quick Screenshot
Comment=Take screenshot of the desktop and make anonymous upload to image host.
Exec=popup_terminal (((__distro_path_root)))/bin/not_add_2_path/files-uploader
Terminal=false
Icon=nitrogen
StartupNotify=false
Categories=Graphics;Utility;
Path=
