[Desktop Entry]
Version=1.0
Type=Application
Name=Quick Screenshot
Comment=Take screenshot of the desktop and make anonymous upload to image host.
Exec=files-uploader
Terminal=true
Icon=nitrogen
StartupNotify=false
Categories=Graphics;Utility;
Path=
