[Desktop Entry]
Version=1.0
Type=Application
Name=URL Downloader
Comment=GUI for URL Downloader
Exec=url_downloader
Icon=(((__distro_path_all_distro_themes)))/icons/url_downloader.png
Terminal=false
Categories=Network;Utility;
Path=
StartupNotify=false
