[Desktop Entry]
Name=yadshot
Comment=Take screenshots. Upload screenshots, pastes, and files easily.
Exec=yadshot
Icon=(((__distro_path_all_distro_themes)))/icons/yadshot.svg
Type=Application
Terminal=false
StartupNotify=false
Categories=Utility;
