[Desktop Entry]
Name=yadshot
Comment=Take screenshots. Upload screenshots, pastes, and files easily.
Exec=yadshot
Icon=(((distro_path_root)))/icons/yadshot.svg
Type=Application
Terminal=false
StartupNotify=false
Categories=Utility;
