[Desktop Entry]
Name=yadshot
Comment=Take screenshots. Upload screenshots, pastes, and files easily.
Exec=yadshot
Icon=/usr/share/my_stuff/icons/yadshot.svg
Type=Application
Terminal=false
StartupNotify=false
Categories=Utility;
