/**
 *
 * theme : lithium
 * 
 * Colors
 **/

* {
    background:     #2C444EFF;
    background-alt: #2C444EFF;
    foreground:     #FFFFFFFF;
    selected:       #BC4B4FFF;
    active:         #B8BB26FF;
    urgent:         #FB4934FF;
}
