[Desktop Entry]
Name=Audacity
Comment=Audacity
Exec=flatpak run org.audacityteam.Audacity
Terminal=false
Type=Application
Icon=(((distro_path_root)))/icons/Audacity.png
Categories=GTK;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupNotify=true
