[Desktop Entry]
Name=Docker
Comment=Manage Docker containers with LazyDocker
Exec=popup_terminal lazydocker
Terminal=false
Type=Application
Icon=(((__distro_path_themes)))/icons/Docker.png
Categories=GTK;
StartupNotify=false
