[Desktop Entry]
Name=Docker
Comment=Manage Docker containers with LazyDocker
Exec=my-terminal-emulator -e lazydocker
Terminal=false
Type=Application
Icon=(((distro_path_root)))/icons/Docker.png
Categories=GTK;
StartupNotify=false
