[Desktop Entry]
Name=Obsidian
Comment=Obsidian
Exec=flatpak run md.obsidian.Obsidian
Terminal=false
Type=Application
Icon=(((__distro_path_all_distro_themes)))/icons/obsidian-icon.png
Categories=GTK;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupNotify=true
