[Desktop Entry]
Name=Pinta
Comment=Pinta
Exec=flatpak run com.github.PintaProject.Pinta
Terminal=false
Type=Application
Icon=(((__distro_path_all_distro_themes)))/icons/Pinta.png
Categories=GTK;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupNotify=true
