[Desktop Entry]
Name=GUI TLP
Comment=GUI TLP using yad
Icon=unity-power-panel
Exec=yadtlp.sh
Terminal=false
Type=Application
Path=
StartupNotify=false
